
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ site.baseurl }}/" class="navbar-brand">Scal</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="https://github.com/cksystemsgroup/scal/zipball/master" class="btn">Download as .zip</a></li>
            <li><a href="https://github.com/cksystemsgroup/scal/tarball/master" class="btn">Download as .tar.gz</a></li>
            <li><a href="https://github.com/cksystemsgroup/scal" class="btn btn-github"><span class="icon"></span>View on GitHub</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Structures <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ site.baseurl }}/dq/">Distributed Queue</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/kfifo/">k-FIFO Queue</a></li>
                <li><a class="dropdown-item" href="{{ site.baseurl }}/tsstack/">TS Stack</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
