footer {
  font-size: small;
  text-align: center;
  margin-top: 20px;
}

a.nolink:hover,
a.nolink:visited,
a.nolink:link,
a.nolink:active {
  text-decoration: none;
}

.jumbotron-app {
  margin-top: 20px;
  position:relative;
  overflow:hidden
}

.logo {
  position:absolute;
  right: 15px;
  top: 15px;
  width: 130px;
}
