---
layout: base
---
      <div class="jumbotron ribbon-parent">
        <div class="ribbon">
          <a href="https://github.com/cksystemsgroup/scal">Fork us on GitHub</a>
        </div>

        <h1>Scal<img src="assets/img/skull.png" style="margin-left: 5px; margin-top: -10px;"/> <small style="font-size: 50%;">High-Performance Multicore-Scalable Computing</small></h1>
        <p>
          We study the design, implementation, performance, and scalability of
          concurrent objects on multicore systems by analyzing the apparent
          trade-off between adherence to concurrent data structure semantics and
          scalability.
        </p>
      </div>

      <div class="row">

        <div class="col-md-3">
          <h2>People</h2>
          <strong>University of Salzburg:</strong>
          <ul>
            <li><a href="//cs.uni-salzburg.at/~ahaas">Andreas Haas</a>
            <li><a href="//cs.uni-salzburg.at/~ck">Christoph Kirsch</a>
            <li><a href="//cs.uni-salzburg.at/~mlippautz">Michael Lippautz</a>
            <li><a href="//cs.uni-salzburg.at/~hpayer">Hannes Payer</a>
            <li><a href="//cs.uni-salzburg.at/~hroeck">Harald R&ouml;ck</a>
            <li><a href="//cs.uni-salzburg.at/~anas">Ana Sokolova</a>
          </ul>

          <strong>IST Austria:</strong>
          <ul>
            <li><a href="http://pub.ist.ac.at/~tah/">Thomas A. Henzinger</a>
          </ul>
          <strong>University of Cambridge:</strong>
          <ul>
            <li><a href="http://www.cl.cam.ac.uk/~as2418/">Ali Sezgin</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h2>Code</h2>

          <p> All code is released under a <a href="https://github.com/cksystemsgroup/scal/blob/master/LICENSE">BSD style license</a>
          and can be found on <a href="https://github.com/cksystemsgroup/scal">github</a>. Consult
          the <a href="https://github.com/cksystemsgroup/scal/blob/master/README.md">README</a>
          file for instructions on how to build and run the benchmarks.</p>

          <a class="nolink" href="https://drone.io/github.com/cksystemsgroup/scal/latest">
            <img src="https://drone.io/github.com/cksystemsgroup/scal/status.png" />
          </a>
        </div>

        <div class="col-md-6">
          <h2>Publications&nbsp;<small><a href="scal.bib.txt">bibtex</a></small></h2>
          <p>
            A list of publications around the topic of <em>relaxations</em> and
            scalable data structure design. Sorted by publication date.
          </p>
          <div id="pubs"></div>
        </div>

      </div>
